@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

/* Enable dark variant in Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* =========================
   Theme Variables
========================= */

:root {
  --background: rgba(233, 238, 240, 1);
  --foreground: rgba(14, 37, 79, 1);
  --card: rgba(248, 250, 252, 1);
  --border: rgba(229, 231, 235, 1);
}

.dark {
  --background: rgba(14, 37, 79, 1);
  --foreground: rgba(233, 238, 240, 1);
  --card: rgba(30, 41, 59, 1);
  --border: rgba(51, 65, 85, 1);
}

/* =========================
   Theme Tokens
========================= */

@theme {
  /* Blue */
  --color-blue-100: rgba(56, 118, 139, 1);
  --color-blue-300: rgba(26, 92, 138, 1);
  --color-blue-600: rgba(21, 80, 137, 1);
  --color-blue-800: rgba(14, 37, 79, 1);

  /* Green */
  --color-green-50: rgba(97, 197, 142, 1);
  --color-green-300: rgba(87, 182, 145, 1);
  --color-green-600: rgba(67, 166, 145, 1);
  --color-green-800: rgba(48, 149, 148, 1);

  /* Neutral */
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-gray: rgba(233, 238, 240, 1);
  --color-transparent: transparent;

  /* Status */
  --color-success: rgba(2, 255, 150, 1);
  --color-error: rgba(253, 3, 3, 1);
  --color-warning: rgba(250, 234, 4, 1);
  --color-neutral: rgba(134, 134, 134, 1);

  /* Typography */
  --font-inter: "Inter", sans-serif;
}

/* =========================
   Base
========================= */

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-inter);
    margin: 0;
    padding: 0;

    background-color: var(--background);
    color: var(--foreground);

    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
}

/* =========================
   Components
========================= */

@layer components {
  .side-bar {
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);

    @apply px-4 py-6 transition-colors duration-300;
  }

  .card {
    background-color: var(--card);
    border: 1px solid var(--border);

    @apply rounded-xl p-4 transition-colors duration-300;
  }
}
